node_modules
package.json
bun.lock

# plugins
telegram-ping.jsonc
server/state/*.json
compaction-prompts-state.json

# debug
sysprompt-before.md
sysprompt-after.md
compaction-prompt-before.md
compaction-prompt-after.md