node_modules
package.json
bun.lock

# plugins
telegram-ping.jsonc
server/state/*
compaction-prompts-state.json
telegram-ping-state.json

# debug
sysprompt-before.md
sysprompt-after.md
compaction-prompt-before.md
compaction-prompt-after.md
